@charset "UTF-8";
/*common*/
body {
	margin:0;
	padding:0;
	background-color: #ffffff;
	font-family:"Wii NTLG PGothic Regular";
}

table,tr,th,td,thead,tbody,tfoot {margin:0;padding:0; border:none; border-spacing:0; font-weight:normal;border-collapse:collapse;}

/*index style*/
#title			{text-align:left; margin:28px 0 0 27px;font-size:25px;color: #43B6DF;}

#display		{font-size:22px; font-weight:bold;color: #ffffff; padding:8px 0 0 40px; float:left; width:3em; }

.number			{font-size: 22px;color: #333333;font-weight: bold;text-align:center;}
.contents		{font-size: 19px;color: #333333;line-height:normal;padding-bottom:3px;text-align:left;}
.contents2line	{font-size: 17px;color: #333333;line-height:18px;padding-bottom:2px;text-align:left;}


.midasi1		{width:516px;height:36px;margin:10px 0 3px;}
.midasi2		{width:516px;height:36px;margin:20px 0 3px;}

.midasi_txt		{font-size:22px;font-weight:bold;color:#43B6DF;line-height:36px;text-align:left;}

.menu_number	{font-size:16px;font-weight:bold;color:#666666;padding-left:12px;padding-right:18px;padding-bottom:5px;}
.menu_number2k	{font-size:16px;font-weight:bold;color:#666666;padding-left:5px;padding-right:13px;}


.menutable{padding:0 25px;}

.button {
	padding-top: 2px;
	width: 260px;
	height: 54px;
	background-image: url(source_pict_index/index_button.png);
}

#undericonplus		{padding-top:8px; margin-left:20px; margin-right:3px; float:left;}
#undericona			{padding-top:8px; margin-left:12px; margin-right:4px; float:left;}
#undericonbpage		{padding-top:8px; margin-left:12px; margin-right:3px; float:left;}
.undertxtplus		{font-size: 16px; font-weight:bold;color: #ffffff; vertical-align:7px; padding:0 2px;}

.undertxt			{font-size: 14px; font-weight:bold;color: #ffffff; padding-top:10px;float:left;}

#btn_back { float:right; margin-right:50px;}

#content {
	height: 292px;
	overflow: auto;
}