@charset "UTF-8";
body {
	font-family: "Wii NTLG PGothic";
	background-image: url(../common_data/CHM_common_source/background_gray.png);
	margin:0;
	padding:0;
	background-color: #dbdbdb;
}

table,tr,th,td,thead,tbody,tfoot {margin:0;padding:0; border:0; border-spacing:0; font-weight:normal;border-collapse:collapse;}

/*page title & small type*/
#bgpagenumb {background:url(CHM_common_source/title_no_bg.png) 28px 0 no-repeat;}

.style_title		{color: #ffffff;font-size: 28px;padding: 18px 1px 0 7px;text-align:left;}
.style_title_m		{color: #ffffff;font-size: 21px;line-height:22px; padding: 18px 1px 0 7px;text-align:left;}
.style_title_s 		{font-size: 18px;}

.style_title2k		{color: #ffffff;font-size: 18px;line-height:16px; padding: 22px 1px 0 7px;text-align:left;}
.style_title_ss		{font-size: 14px; padding-top:2px;}

#style_pagenumber	{font-size: 16px;color: #FFFFFF;margin: 0 2px 20px 0;font-weight: bold; text-align:right;}
/*main page number & two digits*/
.style_number 		{color: #333333;font-size: 28px;font-weight: bold;padding:20px 0 0 48px; text-align:left;}
.style_number2k 	{color: #333333;font-size: 28px;font-weight: bold;padding:20px 0 0 37px; text-align:left;}

/*Welcom page_01*/
.style_welcome 		{color: #333333;font-size: 24px;font-weight: normal;text-align: center;}
/**/


/*heading*/
.style_heading_lc	{color: #333333;font-size: 26px;text-align: center;}
.style_heading_l	{color: #333333;font-size: 26px;text-align: left;}
.style_heading_m	{color: #333333;font-size: 24px;text-align: left;}
.style_heading_s	{color: #333333;font-size: 19px;}
/**/
.style_heading_blue	{color: #00D4F7;font-size: 22px;font-weight: normal;}

/*warning*/
.style_warningds 	{color: #333333;font-size: 26px;text-align: left;}
.style_warning 		{color: #333333;font-size: 26px;text-align: left;padding-left: 10px;}
.style_warning_s 	{color: #333333;font-size: 24px;text-align: left;padding-left: 10px; line-height:28px;}

/*main text*/
.style_main 		{color: #333333;font-size: 20px;font-weight: normal;text-align: left; line-height:24px;} /*AYIM added line-height*/
.style_main_s 		{color: #333333;font-size: 18px;font-weight: normal;text-align: left;}
.style_main_xs		{color: #333333;font-size: 10px;font-weight: normal;text-align: left;}
.supertext			{line-height:2px; vertical-align:0.4em; font-size:18px;}
.spacer_right20		{padding-right:20px;}
.spacer_right27		{padding-right:27px;}
.spacer_right30		{padding-right:30px;}
.spacer_right40		{padding-right:40px;}


/*caption*/
.style_caption 		{color: #333333;font-size: 18px;font-weight: normal;text-align: left; margin-top:5px;}
.style_caption_c 	{color: #333333;font-size: 18px;font-weight: normal;text-align: center; margin-top:5px;}

/*sub page contents top&under 10px space*/
td.frame_margin 	{padding:10px 0;}

/*blue frame heading*/
.style_bar 			{color: #FFFFFF;font-size: 24px;text-align: center; line-height:1; font-weight: bold;}
.style_bar2line		{color: #FFFFFF;font-size: 22px;text-align: center; line-height:1.2; font-weight: bold;}

/*spacer & paragraph*/
.spacer5tu 			{margin:5px 0;}
.spacer10tu 		{margin:10px 0;}
.spacer20tu 		{margin:20px 0;}
.spacer30tu 		{margin:30px 0;}

.spacer5t 			{margin-top:5px;}
.spacer10t 			{margin-top:10px;}
.spacer20t 			{margin-top:20px;}
.spacer30t 			{margin-top:30px;}

/*float box*/
.floatright { float:right; clear:both; margin-left:10px;}
.floatleft { float:left; clear:both; margin-right:10px;}

/*Neue Klasse für HR*/
hr { border:1px solid #000; }

/*indent*/
/*example 「※&nbsp;text」*/
p 					{margin:0;padding:0;}
/*p.caution0 			{text-indent:-0.9em;padding-left:0.9em;}
p.caution1 			{text-indent:-1.3em;padding-left:1.3em;}
p.caution2 			{text-indent:-1.3em;padding-left:1.3em;margin-left:1.3em;}
p.caution3 			{text-indent:-1.3em;padding-left:1.3em;margin-left:2.3em;}*/

div.caution0 			{text-indent:-0.9em;padding-left:0.9em;}
div.caution1 			{text-indent:-1.3em;padding-left:1.3em;}
div.caution2 			{text-indent:-1.3em;padding-left:1.3em;margin-left:1.3em;}
div.caution3 			{text-indent:-1.3em;padding-left:1.3em;margin-left:2.3em;}

/*small text*/
/*p.caution_s1 		{text-indent:-1em;padding-left:1em;}
p.caution_s2 		{text-indent:-1em;padding-left:1em;margin-left:1em;}
p.caution_s3 		{text-indent:-1em;padding-left:1em;margin-left:2em;}*/

div.caution_s1 		{text-indent:-1em;padding-left:1em;}
div.caution_s2 		{text-indent:-1em;padding-left:1em;margin-left:1em;}
div.caution_s3 		{text-indent:-1em;padding-left:1em;margin-left:2em;}

/*list*/
ol					{ margin-left:0.9em; margin-top:0; padding:0 0 0 0.2em; margin-bottom:0em;}
ul					{ margin-left:0.9em; margin-top:0; padding:0 0 0 0.2em; margin-bottom:0em;}

li  {font-family: "Wii NTLG PGothic";
	 font-size: 20px;
	 color: #333333;
	 text-align: left;
	 vertical-align: top;
     list-style-image:url(../common_data/CHM_common_source/bulletpoint.png);
	 list-style-position:outside;
	 margin:0; padding:0 0 0 0.2em;
}

li.blue	{font-family: "Wii NTLG PGothic";
	 	font-size: 20px;
	 	color: #43B6DF;
	 	text-align: left;
	 	vertical-align: top;
     	list-style-image:url(../common_data/CHM_common_source/bulletpoint_blue.png);
	 	list-style-position:outside;
	 	margin:0; padding:0 0 0 0.2em;
}

li.red  {font-family: "Wii NTLG PGothic";
	 	font-size: 20px;
	 	color: #ff0000;
	 	text-align: left;
	 	vertical-align: top;
     	list-style-image:url(../common_data/CHM_common_source/bulletpoint_red.png);
	 	list-style-position:outside;
	 	margin:0; padding:0 0 0 0.2em;
}

li.small {font-family: "Wii NTLG PGothic";
		 font-size: 20px;
	 	 color: #333333;
	 	 text-align: left;
	 	 vertical-align: top;
     	 list-style-image:url(../common_data/CHM_common_source/bulletpoint_small.png);
	 	 list-style-position:outside;
		 margin:0; padding:0 0 0 0.2em;
		 margin-left:20px;
}


li.numb1 {
	 font-family: "Wii NTLG PGothic";
	 font-size: 20px;
	 text-align: left;
     color: #333333;
	 list-style-image:url(../common_data/CHM_common_source/no_01.png);
	 list-style-position:outside;
	 margin:0; padding:0 0 0 0.2em;
	 line-height:1.3em;  
	 
}
li.numb2 {
	 font-family: "Wii NTLG PGothic";
	 font-size: 20px;
	 text-align: left;
     color: #333333;
	 list-style-image:url(../common_data/CHM_common_source/no_02.png);
	 list-style-position:outside;
	 margin:0; padding:0 0 0 0.2em;
	 line-height:1.3em;  
}
li.numb3 {
	 font-family: "Wii NTLG PGothic";
	 font-size: 20px;
	 text-align: left;
     color: #333333;
	 list-style-image:url(../common_data/CHM_common_source/no_03.png);
	 list-style-position:outside;
	 margin:0; padding:0 0 0 0.2em;
	 line-height:1.3em; 
}
li.numb4 {
	 font-family: "Wii NTLG PGothic";
	 font-size: 20px;
	 text-align: left;
     color: #333333;
	 list-style-image:url(../common_data/CHM_common_source/no_04.png);
	 list-style-position:outside;
	 margin:0; padding:0 0 0 0.2em;
	 line-height:1.3em; 
}
li.numb5 {
	 font-family: "Wii NTLG PGothic";
	 font-size: 20px;
	 text-align: left;
     color: #333333;
	 list-style-image:url(../common_data/CHM_common_source/no_05.png);
	 list-style-position:outside;
	 margin:0; padding:0 0 0 0.2em;
	 line-height:1.3em; }
li.numb6 {
	 font-family: "Wii NTLG PGothic";
	 font-size: 20px;
	 text-align: left;
     color: #333333;
	 list-style-image:url(../common_data/CHM_common_source/no_06.png);
	 list-style-position:outside;
	 margin:0; padding:0 0 0 0.2em;
	 line-height:1.3em; 
}
li.numb7 {
	 font-family: "Wii NTLG PGothic";
	 font-size: 20px;
	 text-align: left;
     color: #333333;
	 list-style-image:url(../common_data/CHM_common_source/no_07.png);
	 list-style-position:outside;
	 margin:0; padding:0 0 0 0.2em;
	 line-height:1.3em; 
}
li.numb8 {
	 font-family: "Wii NTLG PGothic";
	 font-size: 20px;
	 text-align: left;
     color: #333333;
	 list-style-image:url(../common_data/CHM_common_source/no_08.png);
	 list-style-position:outside;
	 margin:0; padding:0 0 0 0.2em;
	 line-height:1.3em; 
}
li.numb9 {
	 font-family: "Wii NTLG PGothic";
	 font-size: 20px;
	 text-align: left;
     color: #333333;
	 list-style-image:url(../common_data/CHM_common_source/no_09.png);
	 list-style-position:outside;
	 margin:0; padding:0 0 0 0.2em;
	 line-height:1.3em; 
}


/*iconstyle*/
span.iconstyle 		{}
img.pbl				{vertical-align:-3px; margin:0 3px;}
img.pbm				{vertical-align:-2px; margin:0 3px;}
img.pbs				{vertical-align:-1px; margin:0 3px;}

/*infomaton txt*/
.style_caution 		{color: #FFFFFF;font-size: 20px; line-height: 28px; text-align: left; padding:0 10px; font-weight: bold;}
.style_address		{color: #666666;font-size: 22px; line-height: 28px; text-align: center; padding-top: 5px;}
.style_access		{color: #43B6DF;font-size: 30px; line-height: 40px; text-align: center; padding-top: 10px;padding-bottom: 10px;}
.style_support		{color: #43B6DF;font-size: 21px; line-height: 39px; text-align: center;}

/*color*/
.color_red			{color: #FF0000;}
.color_blue			{color: #43B6DF;}

/*text layout*/
.lefttxt			{ text-align:left;}
.centertxt			{ text-align:center;}
/*tag*/
strong				{font-weight:bold;}
/*-----------------------------------------------*/

.data th , .data td {border:1px #666666 solid; color: #333333; text-align: justify; font-size: 20px;line-height: normal; padding:10px;}
.data th	{white-space:nowrap;}
.data td {width:99%;}
.colour {color: #333333;font-weight: normal;text-align: left; background-color:#D8D8D8}  
.line {border:1px solid #333333;}