/* S_16 */

body {
	background-color: white;
	background-repeat: no-repeat;
}


#text00-01 {
	position:absolute;
	left:29px;
	top:28px;
	width:442px;
	height:28px;
	z-index:62;
    text-align:"left";
}

#text02-01 {
	position:absolute;
	left:50px;
	top:89px;
	width:508px;
	height:86px;
	z-index:31;
}

.textspace {
    position:absolute;
    display:table;
    line-height:18px;
    left:8px;
    top:106px;
    width:210px;
    height:37px;
    z-index:29;
}

#text03 {
	position:absolute;
	left:29px;
	top:28px;
	width:442px;
	height:28px;
 	z-index:62;
    text-align:"left";
}


#text04{
	position:absolute;
	left:29px;
	top:28px;
	width:442px;
	height:28px;
	z-index:62;
}

.catalogFrame {
	position:absolute;
	border:solid 1px #35beed;
	left:36px;
	top:88px;
	width:540px;
	height:265px;
	z-index:44;
	overflow:auto;
	padding:4px 3px 5px 3px;
	margin:0px 4px;
}

#helperentrance {
    position:absolute;
    left:62px;
    top:198px;
    width:226px;
    height:156px;
}

.banner {
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    z-index:28;
}

.spacer {
	position:absolute;
    left:0px;
    top:0px;
	z-index:30;
}

#helpeeentrance {
    position:absolute;
    left:320px;
    top:198px;
    width:226px;
    height:156px;
}

.helper {
    color:#0069D6;
}

.helpee {
    color:#F56200;
}

li {
    margin-top:0.25em;
}

.contentsBlack_S_16 {
	font-family: "Wii NTLG PGothic JPN Regular";
	font-size: 16px;
	color: #323232;
	font-weight: normal;
	line-height:18px;
}

.aboutExplain {
	line-height: 1.2;
}
